<p>A Short Romantic Getaway to Tarkarli
    
    By Tanushree Kailash
    Tarkarli Beach
    Tarkarli  
    To all the lovely couples out there plan a short romantic trip to Tarkarli. Tarkarli is a village in Malvan in Sindhudurg district of Maharashtra. It’s famous for the lovely Tarkarli beach and scuba diving at Sindhudurg fort.
    
    How to reach: Tarkarli is on the same route as Goa. From Mumbai either one can catch a train or a bus that will halt at Malvan or Kudal. From there you can easily get a rick to Tarkarli.
    
    Tarkarli Beach  
    Well, the best part about Tarkarli is its stay in MTDC resort. Though a little expensive, it is one of the best resort in Tarkarli. MTDC is situated on the Tarkarli beach and has cottage style houses. If it’s your anniversary or any special occasion then go ahead and book a houseboat there. Tarkarli beach is one of the cleanest beaches. It’s beautiful to wake up in the morning to the rising sun and see its colors reflecting in the beach. You can just have chill-pill on the hammocks. You will also fall in love with the beautiful sunset making you fall in more love with each other with every minute passing by.
    
    Photo of Tarkarli Beach, Sindhudurg, Maharashtra, India by Tanushree Kailash
    MTDC resort is about 30-40 minutes from Malvan. You can hire a bike either from Malvan or in Tarkarli so that commuting is easy. Also, for non-veg eater food is not a problem and even for vegetarian people you can get a variety of food in MTDC resort as well as in Malvan.
    
    Sindhudurg Fort  
    In case you both are adventure lovers, plan a day to go to Sindhudurg fort and there you can do many underwater activities. Though water is not as clean as Thailand, but if you want to enjoy Scuba Diving in cheap rates, it’s worth it. Also, you can do Snorkeling, Parasailing, Kayaking, Water Scooter, Jet Ski, Bumpy Ride and Banana ride. It will cost you around INR 800.00 for Scuba Diving along with CD and INR 700.00 for a package of a few activities combined.
    
    Photo of Sindhudurg Fort, Malvan, Maharashtra, India by Tanushree Kailash
    I highly recommend Tarkarli and its water activities. Take out 2-3 days and visit this great place and get lost in the beaches and in each other.
    
    
    </p>