<p>Mahabaleshwar

Mahabaleshwar

Another popular hill station that attracts people from not just Maharashtra but other parts of the country too is Mahabaleshwar. It is as known for its natural vistas as it is for its strawberry farms. Located in the Western Ghats, the winding roads make for a beautiful long drive. On the way, you can also stop at Panchgani and then move on to Mahabaleshwar. The hill station offers several sightseeing places and activities that make it a popular choice for families as well as couples. There is no dearth of accommodation options to suit every budget in Mahabaleshwar. Here’s what’s in store for you.

Best time to go: November to June

How to reach: Mahabaleshwar is accessible by road from major cities in the state. You can either drive down or take a bus. The route can be slightly longer and there are ghats on the way so if you have motion sickness you may want to have medication. Mahabaleshwar doesn’t have a railway station so you have to get off at Wathar which is 60 km away. Or, you could even go to Pune and take a taxi or bus from there to reach Mahabaleshwar.

Where to stay: Mahabaleshwar has many hotels because of the number of tourists that come here. If you are on a budget trip, you can book a stay at Hilltop House (094057 46699). Blue Country Resort (02168 241521) is a family-friendly resort while Le Meridian Resort & Spa (02168 262222) is a luxury hotel.

Things to do: When you enter Mahabaleshwar you will notice the en number of ads of the brand Mapro that produces jams, jellies and juices. They even have a garden open for public called Mapro Gardens where you can buy its products, relish some yummy strawberry and cream and enjoy a meal in a pleasant setting. Venna Lake offers boating and sweet corn or bhutta sellers to keep you satiated. For a panoramic view of the hills, visit Arthur’s Seat. And if you love watching beautiful sunrise and sunsets, do not miss Wilson Point and Elphinstone Point. Lodwick Point, Helen’s Point and Baghdad Point are other attractions in Mahabaleshwar. In Panchgani, you can go to Table Land which is a flat land surrounded by peaks. Many films have been shot here. Don’t forget to take your camera along and Mahabaleshwar offers some breathtaking backdrops.

 

</p>